<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{{url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class = "title__background">
        <h1 class = "title__word">失敗頁面</h1>
    </div>
    <div class = "content">
        <h2 class = "content__word">{{error_type}}</h2>
        <a class = "content__word" href = http://127.0.0.1:8000>返回首頁</a>
    </div>
</body>
</html>