<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{{url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class = "title__background">
        <h1 class = "title__word">歡迎光臨，請註冊登入系統</h1>
    </div>
    <form action = "http://127.0.0.1:8000/signup" method="POST" id = "signup">
        <div class = "content">
            <h2 class = "content__word">註冊帳號</h2>
            <div class = "input">
                <label for = "name">姓名</label>
                <input placeholder = "請輸入姓名" id = "name" name = "name">
            </div>
            <div class = "input">
                <label for = "username_signup">帳號</label>
                <input placeholder = "請輸入帳號" id = "username_signup" name = "username_signup">
            </div>
            <div class = "input">
                <label for = "password_signup">密碼</label>
                <input placeholder = "請輸入密碼" id = "password_signup" name = "password_signup">
            </div>
            <button class = "button" type = "button" id = "buttonSignup">註冊</button>
        </div>
    </form>
    <hr>
    <form action = "http://127.0.0.1:8000/signin" method="POST" id = "signin">
        <div class = "content">
            <h2 class = "content__word">登入系統</h2>
            <div class = "input">
                <label for = "username_signin">帳號</label>
                <input placeholder = "請輸入帳號" id = "username_signin" name = "username_signin">
            </div>
            <div class = "input">
                <label for = "password_signin">密碼</label>
                <input placeholder = "請輸入密碼" id = "password_signin" name = "password_signin">
            </div>
            <button class = "button" type = "button" id = "buttonSignin">登入</button>
        </div>
    </form>
    
</body>
<script>
    //取得輸入框的值
    let nameSignup = document.getElementById("name")
    let usernameSignup = document.getElementById("username_signup")
    let passwordSignup = document.getElementById("password_signup")

    //點擊註冊，送出資料
    buttonSignup.addEventListener("click",function(){
    //按鈕被點擊時，檢查輸入框是否有填寫內容
    if (nameSignup.value.length === 0 || usernameSignup.value.length === 0 ||passwordSignup.value.length === 0){  
        alert("請填寫所有註冊欄位"); 
    }else{
        //手動提交表單
        document.getElementById("signup").submit(); 
        }
    }); 

    let usernameSignin = document.getElementById("username_signin")
    let passwordSignin = document.getElementById("password_signin")

    //點擊登入，送出資料
    buttonSignin.addEventListener("click",function(){
       //按鈕被點擊時，檢查輸入框是否有填寫內容
        if (usernameSignin.value.length === 0 || passwordSignin.value.length === 0){ 
            alert("請填寫所有登入欄位"); 
        }else{
            //手動提交表單
            document.getElementById("signin").submit();
        }
    });
</script>
</html>

